<div id="ancb-page-left-nav">
<div class="LI-profile-badge hidden-xs hidden-sm"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="aorinevo"><a class="LI-simple-link" href='https://www.linkedin.com/in/aorinevo?trk=profile-badge'>Aori Nevo, PhD</a></div>
<ul class="nav">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/svg-meter-example">SVG Meter Example</a></li>
  <li><a routerLink="/radio-hbs-components-example">Radio HBS Component Example</a></li>
  <li><a routerLink="/flyout-tab-example">Flyout Tab Example</a></li>
  <li><a routerLink="/d3-example">D3 Example</a></li>
  <li><a routerLink="/meetings">Meetings</a></li> 
</ul>
</div>