<select>
  <option value="[true,true,true,true,true,true,true,true]">Show all</option>  
  <option value="[true,true,true,false,false,false,false,false]">Link 1,2, and 3</option>
  <option value="[false,true,false,true,false,false,false,false]">Link 2,4</option>
  <option value="[false,false,false,false,false,false,true,true]">Only 7,8</option>
</select>