<div id="svg-meter-container"> 
  <svg [attr.width]="2*meter.radiusOuter" [attr.height]="2*meter.radiusOuter">  
    <path 
      [attr.id]="pathIdPrefix + '0'" 
      [attr.stroke]="meter.strokeWhole" 
      fill="none" 
      [attr.stroke-width]="meter.strokeWidth" 
      [attr.d]="describeArc(meter.radiusOuter, meter.radiusOuter, meter.radiusInner, 0, 359.999)">
    </path> 
    <path 
      [attr.id]="pathIdPrefix + '1'" 
      [attr.stroke]="meter.strokePart" 
      fill="none" 
      [attr.stroke-width]="meter.strokeWidth" 
      [attr.d]="path2">
    </path>       
  </svg>
  <div class='svg-meter-content'>
      <div class='lty-as-dog'></div>  
      <div class='lty-as-top-of-the-list-label'>TOP OF THE LIST</div>          
      <div><span class='lty-as-balance'>{{pointsCounter}}</span></div>        
  </div>
</div>