<div class="row">
  <h1>Bloomingdale's Credit Card</h1>
</div>
<div class="row">  
  <div id="quick-tools-links" class="column medium-8"></div>
  <div id="card-selector" class="column medium-4"></div>
</div>