<div class="row">
  <h1>Bloomingdale's Credit Card</h1>
</div>
<div class="row" id="quick-tools-links">  
  <div class="column medium-8">
    {{>quickToolsLinks side="left" links=quickToolsLinksLeft}}
    {{>quickToolsLinks side="right" links=quickToolsLinksRight}}
  </div>
  <div class="column medium-4">
    {{>cardSelector}}
  </div>
</div>