<div class="row">
  <h1>Bloomingdale's Credit Card</h1>
</div>
<div class="row" id="quick-tools-links">
  {{>quickToolsLinks side="left" links=quickToolsLinksLeft}}
  {{>quickToolsLinks side="right" links=quickToolsLinksRight}}
</div>