<ancb-page-header mytitle="Home"></ancb-page-header>

<div class="row">
  <div class="col-sm-12">
    <h2>Introduction</h2>
  </div>  
  
  <div class="col-sm-12">
  This site contains code examples built using various javascript framesworks and libraries:
    <ul>
      <li>Backbone</li>
      <li>Marionette</li>
      <li>AngularJS 4 (Originally Angular 1.x then Angular 2)</li>
      <li>TypeScript</li>
      <li>ES6</li>
      <li>webpack</li>
      <li>jquery</li>
      <li>underscore</li>
      <li>handlebars</li>      
    </ul>
  The site itself is built in Angular 4.
  </div>
</div>