<div class="row">
  <div class="col-xs-4">
    <ul class="nav">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/svg-meter-example">SVG Meter Example</a></li>
      <li><a routerLink="/radio-hbs-components-example">Radio HBS Component Example</a></li>
    </ul>
  </div>
  <div class="col-xs-8">        
      <ancb-meter [radiusOuter]="100" [radiusInner]="90" [part]="3000" [whole]="5000" strokeWhole="#A1A1A1" strokePart="#FFECEC" [strokeWidth]="10"></ancb-meter>    
  </div>
</div>