<!DOCTYPE html>
<html>
  <head>    
    <link rel="stylesheet" href="code-blog-site/css/lib/foundation/css/foundation.css">
    <link rel="stylesheet" href="code-blog-site/css/main.css">    
  </head>
  <body>
    <div id="cb-header" class="row">
      <h1>Code Blog</h1>
    </div>
    <div class="row">
      <div class="column medium-3">
        <ul id="cb-left-navigation" class="vertical menu">
          <li><a href="radio-hbs-components-example">Radio/Handlebars/Components Example</a></li>
          <li><a href="svg-meter-example">SVG Meter Example</a></li>
        </ul>
      </div>
      <div id="cb-main-content" class="column medium-9">
        
      </div>
    </div>
  </body>
</html>